<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<title><{config_item('manager_title')}></title>
	<link href="/public/H-ui/css/H-ui.min.css" rel="stylesheet" type="text/css" />
	<link href="/public/H-ui/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
	<link href="/public/H-ui/hui-iconfont/iconfont.css" rel="stylesheet" type="text/css">
	<link href="/public/H-ui/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="pd-20">
	<form action="<{site_url('/manager/member/member/member_card_verify_submit')}>" method="post" class="form form-horizontal" id="add" enctype="multipart/form-data">
		<input type="hidden" name="id" value="<{$info.Id}>">
		<div class="row cl">
			<label class="form-label col-2"><span class="c-red">*</span>会员卡号：</label>
			<div class="formControls col-2">
                <span><{$info.card_no}></span>
			</div>
            <label class="form-label col-2"><span class="c-red">*</span>凭证扫描件：</label>
            <div class="formControls col-2">
                <a href="<{$res.image}>" target="_blank"><img width="50" src="<{$res.image}>"/></a>
            </div>
            <label class="form-label col-2"><span class="c-red"></span>实际卡金额：</label>
            <div class="formControls col-2">
                <span><{$info.count}></span>
            </div>
		</div>
		<div class="row cl">
			<label class="form-label col-2"><span class="c-red"></span>总消费金额：</label>
			<div class="formControls col-2">
				<span><{$info.total_count + $info.total_care_count - $info.count - $info.care_count}></span>
			</div>
			<label class="form-label col-2"><span class="c-red"></span>赠送保养券金额：</label>
			<div class="formControls col-2">
				<span><{$info.total_care_count}></span>
			</div>
			<label class="form-label col-2"><span class="c-red"></span>赠送金额：</label>
			<div class="formControls col-2">
				<span><{$info.add_money}></span>
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-2"><span class="c-red"></span>消费保养券金额：</label>
			<div class="formControls col-2">
				<span><{$info.total_care_count - $info.care_cpunt}></span>
			</div>
			<label class="form-label col-2"><span class="c-red"></span>保养券金额：</label>
			<div class="formControls col-2">
				<span><{$info.total_care_count}></span>
			</div>
			<label class="form-label col-2"><span class="c-red"></span>消费折卡金额：</label>
			<div class="formControls col-2">
				<span><{$info.total_count-$info.count}></span>
			</div>
        </div>
        <div class="row cl">
            <label class="form-label col-2"><span class="c-red">*</span>申请备注：</label>
            <div class="formControls col-6">
                <span><{$res.note}></span>
            </div>
        </div>
        <div class="row cl">
            <div class="width:40%:float:left;">
                <label class="form-label col-2">卡类型更换选择：</label>
                <div class="formControls col-10 skin-minimal">
                    <{foreach $card_list as $v}>
                    <div class="radio-box" style="margin-bottom:10px;">
                        <input type="radio" id="type-0" name="card_id" value="<{$v.Id}>">
                        <label style='margin-right:10px' for="type-0">名称：<{$v.name}></label>
                        <label style='margin-right:10px' for="type-0"><img width='50' src="<{$v.image}>"/></label>
                        <label style='margin-right:10px' for="type-0">总金额：<{$v.count}></label>
                        <label style='margin-right:10px' for="type-0">钟点工折扣：<{$v.people_discount}></label>
                        <label style='margin-right:10px' for="type-0">保养折扣：<{$v.care_discount}></label>
                        <label style='margin-right:10px' for="type-0">折扣优惠期：<{$v.time}></label>
                    </div>
                    <{/foreach}>
                </div>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-2"><span class="c-red"></span>充值金额：</label>
            <div class="formControls col-2">
                <input type="text" class="input-text" value="" name="money">
            </div>
            <label class="form-label col-2"><span class="c-red"></span>赠送保养券金额：</label>
            <div class="formControls col-2">
                <input type="text" class="input-text" value="" name="add_care">
            </div>
        </div>

		<div class="row cl">
			<div class="col-10 col-offset-2">
				<button onClick="$('#add').submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 审核</button>
				<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</div>

<script type="text/javascript" src="/public/js/jquery.js"></script>
<script type="text/javascript" src="/public/js/validform.js"></script>
<script type="text/javascript" src="/public/js/layer/layer.js"></script>
<script type="text/javascript" src="/public/js/form.js"></script>
<script type="text/javascript" src="/public/js/artTemplate.js"></script>
<script type="text/javascript" src="/public/js/laydate/laydate.js"></script>
<script type="text/javascript" src="/public/H-ui/js/H-ui.js"></script>
<script type="text/javascript" src="/public/H-ui/js/H-ui.admin.js"></script>

<script language="JavaScript">
	var spec_num = 0;
	$(function() {
		//验证表单
		$.Tipmsg.r = null;
		$("#add").Validform({
			tiptype: function (msg) {
				layer.msg(msg);
			},
			tipSweep: true,
			ajaxPost: true,
			callback: function (data) {
				if (data.status == "y") {
					layer_close();
				}
			}
		});
	});



	$(function(){
		//模型选择
		$('[name="model_id"]').change(function(){
			model_select($(this).val());
		})

		//表单回填
		//var formObj = new Form();
		//formObj.init(<{ch_json_encode($item)}>);

	})
</script>
</body>
</html>