<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<title><{config_item('manager_title')}></title>
	<link href="/public/H-ui/css/H-ui.min.css" rel="stylesheet" type="text/css" />
	<link href="/public/H-ui/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
	<link href="/public/H-ui/hui-iconfont/iconfont.css" rel="stylesheet" type="text/css">
	<link href="/public/H-ui/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="pd-20">
	<form action="<{site_url('/manager/service/user/save')}>" method="post" class="form form-horizontal" id="add" enctype="multipart/form-data">
		<input type="hidden" name="id" value="">
		<div class="row cl">
			<label class="form-label col-2"><span class="c-red">*</span>服务分店：</label>
			<div class="formControls col-2"> <span class="select-box">
				<select name="company" class="select" value='重庆公司' onchange="cat_id_select(this.value)">
					<option value="重庆公司">重庆公司</option>
				</select>
				</span>
			</div>
			<div class="formControls col-2"> <span class="select-box">
				<select name="shop" class="select">
					<option value="总店">--请选择总店--</option>
				</select>
				</span>
			</div>
			<div class="formControls col-2"> <span class="select-box">
				<select name="sub_shop" class="select">
					<option value="分店">--请选择分店--</option>
				</select>
				</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-2"><span class="c-red">*</span>联系电话：</label>
			<div class="formControls col-2">
				<input type="text" class="input-text" value="<{$info.username}>" name="phone" datatype="m" nullmsg="手机号码错误">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-2"><span class="c-red">*</span>服务项目：</label>
			<div class="formControls col-2">
				<input type="text" disabled=disabled class="input-text" value="<{$service.name}>" name="service_name">
				<input type="hidden" class="input-text" value="<{$service.id}>" name="cat_id">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-2"><span class="c-red">*</span>服务时间：</label>
			<div class="formControls col-2">
				<input type="text" class="input-text laydate-icon" value="" name="start_time" onclick="laydate({min:laydate.now(),istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" readonly="" datatype="*" nullmsg="请选择服务时间" style="padding-right:0;height:auto;">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-2"><span class="c-red">*</span>详细地址：</label>
			<div class="formControls col-3">
				<textarea style="height:50px;" class="input-text" value="" name="address" datatype="*1-50" nullmsg="地址不能为空"></textarea>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-2"><span class="c-red">*</span>约单备注：</label>
			<div class="formControls col-3">
				<textarea style="height:50px;" class="input-text" value="" name="note" datatype="*1-50" nullmsg="备注不能为空"></textarea>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-2"><span class="c-red">*</span>客户姓名：</label>
			<div class="formControls col-2">
				<input type="text" class="input-text" value="" name="name" datatype="*1-50" nullmsg="客户姓名不能为空">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-2"><span class="c-red"></span>联系电话2：</label>
			<div class="formControls col-2">
				<input type="text" class="input-text" value="" datatype="m" name="tel" nullmsg="手机号错误" >
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-2"><span class="c-red">*</span>应收金额：</label>
			<div class="formControls col-2">
				<input type="text" class="input-text" value="" name="price_real" datatype="*1-50" nullmsg="金额不能为空">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-2"><span class="c-red">*</span>工作人员：</label>
			<div class="formControls col-1" style="min-width:100px;">
				<label style='width:auto' class="form-label col-1">男</label>
				<input type="text" style='width:50%;' class="input-text" value="0" name="gender1" datatype="*0-50" nullmsg="请输入人数">
			</div>
			<div class="formControls col-1" style="min-width:100px;">
				<label style='width:auto;' class="form-label col-1">女</label>
				<input type="text" style='width:50%;' class="input-text" value="0" name="gender2" datatype="*0-50" nullmsg="请输入人数">
			</div>
			<div class="formControls col-1" style="min-width:150px;">
				<label style='width:auto' class="form-label col-1">男女不限</label>
				<input type="text" style='width:50%;' class="input-text" value="0" name="gender0" datatype="*0-50" nullmsg="请输入人数">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-2"><span class="c-red"></span>指定人员：</label>
			<div class="formControls col-2">
				<input type="text" class="input-text" value="" name="people" >
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-2"><span class="c-red"></span>客服提成：</label>
			<div class="formControls col-2">
				<input type="text" class="input-text" value="" name="percentage" >
			</div>
		</div>
		<input type="hidden" name="order_status" value=""/>


		<div class="row cl">
			<div class="col-10 col-offset-2">
				<button onClick="$('input[name=order_status]').val(1);$('#add').submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 录入</button>
				<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</div>

<script type="text/javascript" src="/public/js/jquery.js"></script>
<script type="text/javascript" src="/public/js/validform.js"></script>
<script type="text/javascript" src="/public/js/layer/layer.js"></script>
<script type="text/javascript" src="/public/js/form.js"></script>
<script type="text/javascript" src="/public/js/artTemplate.js"></script>
<script type="text/javascript" src="/public/js/laydate/laydate.js"></script>
<script type="text/javascript" src="/public/H-ui/js/H-ui.js"></script>
<script type="text/javascript" src="/public/H-ui/js/H-ui.admin.js"></script>

<script language="JavaScript">
	var spec_num = 0;
	$(function() {
		//验证表单
		$.Tipmsg.r = null;
		$("#add").Validform({
			tiptype: function (msg) {
				layer.msg(msg);
			},
			tipSweep: true,
			ajaxPost: true,
			callback: function (data) {
				if (data.status == "y") {
                    layer.msg('提交成功');
					layer_close();
				}
			}
		});
	});



	$(function(){
		//模型选择
		$('[name="model_id"]').change(function(){
			model_select($(this).val());
		})

		//表单回填
		//var formObj = new Form();
		//formObj.init(<{ch_json_encode($item)}>);

	})
</script>
</body>
</html>