<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
    <title><{config_item('manager_title')}></title>
    <link href="/public/H-ui/css/H-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="/public/H-ui/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
    <link href="/public/H-ui/hui-iconfont/iconfont.css" rel="stylesheet" type="text/css">
</head>
<style>.Nodisplay{display:none}.left-title{float: left;height: 32px;line-height: 36px;margin-right: 10px;}
    .form-horizontal .form-label,.form-horizontal .formControls span{margin-top:0;padding-right:50px;line-height:36px}.formControls{margin-left:-40px;}
    .form-horizontal .form-label .textarea{margin-bottom:20px;}
</style>
<body>
<div class="pd-20">
	<form action="<{site_url('/manager/finance/finance/add_finance_submit')}>" method="post" class="form form-horizontal" id="add">
		<div class="row cl">
            <div style="float:left;width:50%">
                <div style="float:left;width:100%">
                    <label class="form-label col-2" style="width:40%"><span class="c-red">*</span>开支项目：</label>
                    <div class="formControls col-3" style="width:60%">
                        <span><{$info.name}></span>
                    </div>
                </div>
                <div style="float:left;width:100%">
                    <label class="form-label col-2" style="width:40%"><span class="c-red">*</span>开支金额：</label>
                    <div class="formControls col-3" style="width:60%">
                        <span><{$info.amount}></span>
                    </div>
                </div>
                <div style="float:left;width:100%">
                    <label class="form-label col-2" style="width:40%"><span class="c-red">*</span>开支公司：</label>
                    <div class="formControls col-3" style="width:60%">
                        <span><{$info.company}></span>
                    </div>
                </div>
                <div style="float:left;width:100%">
                    <label class="form-label col-2" style="width:40%"><span class="c-red">*</span>开支人：</label>
                    <div class="formControls col-3" style="width:60%">
                        <span><{$info.people}></span>
                    </div>
                </div>
                <div style="float:left;width:100%">
                    <label class="form-label col-2" style="width:40%"><span class="c-red">*</span>开支时间：</label>
                    <div class="formControls col-3" style="width:60%">
                        <span><{$info.time}></span>
                    </div>
                </div>
                <div style="float:left;width:100%">
                    <label class="form-label col-2" style="width:40%"><span class="c-red">*</span>记录人：</label>
                    <div class="formControls col-3" style="width:60%">
                        <span><{$info.add_people}></span>
                    </div>
                </div>
                <div style="float:left;width:100%">
                    <label class="form-label col-2" style="width:40%"><span class="c-red">*</span>记录时间：</label>
                    <div class="formControls col-3" style="width:60%">
                        <span><{$info.addtime|date_format:"%Y-%m-%d %H:%M:%S"}></span>
                    </div>
                </div>
            </div>
            <div style="float:left;width:50%">
                <div style="float:left;width:100%">
                    <label class="form-label col-2" style="width:40%"><span class="c-red">*</span>开支事由：</label>
                    <div class="formControls col-4" style="width:60%">
                        <textarea disabled style="height:120px;margin-bottom:20px" class="input-text" name="reason" datatype="*" nullmsg="开支事由不能为空"><{$info.reason}></textarea>
                    </div>
                </div>
                <div style="float:left;width:100%">
                    <label class="form-label col-2" style="width:40%">备注：</label>
                    <div class="formControls col-4" style="width:60%">
                        <textarea disabled style="height:120px;margin-bottom:20px" class="input-text" name="note"><{$info.note}></textarea>
                    </div>
                </div>
            </div>
		</div>
        <div class="row cl">
            <div class="col-10 col-offset-5">
                <button onClick="layer_close()" class="btn radius" type="submit">关闭</button>
            </div>
        </div>
	</form>

</div>
<script type="text/javascript" src="/public/js/jquery.js"></script>
<script type="text/javascript" src="/public/js/validform.js"></script>
<script type="text/javascript" src="/public/js/layer/layer.js"></script>
<script type="text/javascript" src="/public/js/laydate/laydate.js"></script>
<script type="text/javascript" src="/public/js/form.js"></script>
<script type="text/javascript" src="/public/H-ui/js/H-ui.js"></script>
<script type="text/javascript" src="/public/H-ui/js/H-ui.admin.js"></script>

<script type="text/javascript">

    $(function(){console.log('<{$info}>')
        //验证表单
        $.Tipmsg.r=null;
        $("#add").Validform({
            tiptype:function(msg){
                layer.msg(msg);
            },
            tipSweep:true,
            ajaxPost:true,
            callback:function(data){
                if(data.status=="y"){
                    layer_close();
                   // window.history.go(-1);
                }
            }
        });
        //表单回填
        var formObj = new Form();
        //formObj.init(<{ch_json_encode($item)}>);
    })


</script>
</body>
</html>