<div class="useraside_title usercenter">
	会员中心
</div>
<dl class="useritem">
	<dt class="useritembg1"><a href="javascript:void(0)">交易管理</a></dt>
	<dd><a href="<{site_url("/member/order")}>">> 我的订单</a></dd>
	<dd><a href="<{site_url("/member/favorite/goods")}>">> 我的收藏</a></dd>
	<dd><a href="<{site_url("/member/favorite/shop")}>">> 店铺收藏</a></dd>
</dl>
<dl class="useritem">
	<dt class="useritembg2"><a href="javascript:void(0)">账户管理</a></dt>
	<dd><a href="<{site_url("/member/point")}>">> 我的积分</a></dd>
	<dd><a href="<{site_url("/member/coupons")}>">> 我的优惠券</a></dd>
	<dd><a href="<{site_url("/member/balance")}>">> 资金管理</a></dd>
	<dd><a href="<{site_url("/member/address")}>">> 收货地址</a></dd>
	<dd><a href="<{site_url("/member/welcome/info")}>">> 个人资料</a></dd>
	<dd><a href="<{site_url("/member/welcome/password")}>">> 密码管理</a></dd>
</dl>
<dl class="useritem">
	<dt class="useritembg3"><a href="<{site_url("/welcome/loginout")}>">安全退出</a></dt>
</dl>