<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
	<title><{config_item('website_title')}></title>
	<meta content="<{config_item('website_keywords')}>" name="Keywords">
	<meta content="<{config_item('website_desc')}>" name="description"/>
	<script type="text/javascript" src="/public/js/jquery.js"></script>
	<script type="text/javascript" src="/public/js/layer/layer.js"></script>
	<script type="text/javascript" src="/public/js/validform.js"></script>
	<link rel="stylesheet" type="text/css" href="/views/web/skin/css/style.css" />
</head>
<body>
	<div class="wrap">
		<{include file="web/header.html"}>
		 <!-- 内容 -->
		 <div class="wrapbox clear">
		 	<div class="scrapnav">
				您的当前位置：<a href="<{site_url("/welcome")}>">首页</a>><a href="<{site_url("/member")}>">我的账户</a>
		 	</div>
		 	<div class="userbox clear">
		 		<div class="useraside">
					<{include file="web/member/menu.html"}>
		 		</div>
				<form name="password_info" id="password_info" method="post" action="<{site_url("/member/welcome/password_act")}>">
		 		<div class="usercontent">
		 			<div class="modifytitle">
		 				修改密码
		 			</div>
		 			<div class="exchangebox">
		 			<div class="loginboxleft_box clear">
	 					<div class="loginleft">
	 						原 密 码：
	 					</div>
	 					<div class="loginright">
	 						<input type="password" class="inputText" name="old_password" datatype="*" nullmsg="旧密码不能为空">
	 					</div>
	 				</div>
	 				<div class="loginboxleft_box clear">
	 					<div class="loginleft">
	 						新 密 码：
	 					</div>
	 					<div class="loginright">
	 						<input type="password" class="inputText" name="password" datatype="*" nullmsg="新密码不能为空">
	 					</div>
	 				</div>
	 				<div class="loginboxleft_box clear">
	 					<div class="loginleft">
	 						确认密码：
	 					</div>
	 					<div class="loginright">
	 						<input type="password" class="inputText" name="repassword" datatype="*" recheck="password" nullmsg="请输入重复密码！" errormsg="两次密码不一样">
	 					</div>
	 				</div>
	 				
	 				<div class="usersavebox">
 						<input type="submit" value="确认" class="usersavebtn">
 					</div>
		 		</div>
				</form>
		 		</div>
		 	</div>
		 </div>
		<{include file="web/footer.html"}>
	</div>
	<script type="text/javascript" >
		//验证表单
		$(function(){
			$.Tipmsg.r=null;
			$("#password_info").Validform({
				tiptype:function(msg){
					layer.msg(msg);
				},
				tipSweep:true,
				ajaxPost:true,
				callback:function(data){
					if(data.status=="y"){
						layer.msg('修改成功');
						setTimeout(function(){
							window.location.href="<{site_url("/member")}>";
						},1000);
					}
				}
			});
		})
	</script>
</body>
</html>