<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<title><{config_item('manager_title')}></title>
	<link href="/public/H-ui/css/H-ui.min.css" rel="stylesheet" type="text/css" />
	<link href="/public/H-ui/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
	<link href="/public/H-ui/hui-iconfont/iconfont.css" rel="stylesheet" type="text/css">
</head>
<body>
<nav class="breadcrumb">
	服务项目统计 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="pd-20" style="padding-top: 0px;">
	<div class="text-c pt-20" style="text-align:left;">
		<form action="<{site_url('/manager/statistics/statistics/service_total/')}>" method="post" class="form form-horizontal" id="search" name="search">
			<span class="select-box" style="width:150px">
				<select disabled name="company" class="select">
					<option value="">重庆公司</option>
				</select>
			</span>
			<span class="select-box" style="width:150px">
				<select name="shop" class="select" onchange="sub_shop_all(this.value)">
					<option value="">--请选择总店--</option>
					<{foreach $shop_list as $v}>
					<option value="<{$v.name}>"><{$v.name}></option>
					<{/foreach}>
				</select>
			</span>
			<span class="select-box" style="width:150px">
				<select name="sub_shop" class="select">

				</select>
			</span>
			<span class="select-box" style="width:100px;border:none;padding:0;">
				<input type="text" class="input-text laydate-icon" placeholder="开始时间" value="" name="start_time" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" readonly="" datatype="*" nullmsg="请选择服务时间" style="padding-right:0;height:auto;">
			</span>
			<span class="select-box" style="width:100px;border:none;padding:0;">
				<input type="text" class="input-text laydate-icon" placeholder="结束时间" value="" name="end_time" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" readonly="" datatype="*" nullmsg="请选择服务时间" style="padding-right:0;height:auto;">
			</span>
			<span class="select-box" style="width:100px">
				<select name="status" class="select">
					<option value="">--其他条件--</option>
				</select>
			</span>
			<input type="text" name="name" placeholder="请输入查询内容" style="width:150px" class="input-text">
			<button class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
		</form>
	</div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			<thead>
			<tr class="text-c">
				<th>编号</th>
				<th>项目名称</th>
				<th>工单数量</th>
				<th>折卡金额</th>
				<th>现金金额</th>
				<th>订单比例</th>
				<th>金额比例</th>
			</tr>
			</thead>
			<tbody>
			<{foreach $list.work_order as $key}>
			<tr class="text-c">
				<td><{$key.id}></td>
				<td><{$key.name}></td>
				<td class="text-l"><{$key.orders+$key.cash_orders}></td>
				<td class="text-l"><{$key.cash_money}></td>
				<td class="text-l"><{$key.total_money}></td>
				<td class="text-l"><{(($key.orders+$key.cash_orders)/$list.total_work_order.orders)|string_format:'%.2f'}></td>
				<td class="text-l"><{(($key.total_money+$key.cash_money)/$list.total_work_order.total_money)|string_format:'%.2f'}></td>
			</tr>
			<{/foreach}>
			</tbody>
		</table>
	</div>
</div>
<!--分页-->

<{page_view('page',$page_count,search_array_to_link($search_where))}>

<script type="text/javascript" src="/public/js/jquery.js"></script>
<script type="text/javascript" src="/public/js/layer/layer.js"></script>
<script type="text/javascript" src="/public/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/public/js/form.js"></script>
<script type="text/javascript" src="/public/H-ui/js/H-ui.js"></script>
<script type="text/javascript" src="/public/js/laydate/laydate.js"></script>
<script type="text/javascript" src="/public/H-ui/js/H-ui.admin.js"></script>
<script language="JavaScript">
	$(function(){
		//表单回填
		var formObj = new Form();
		formObj.init(<{ch_json_encode($search_where)}>);
        sub_shop_all('<{$search_where.shop}>','<{$search_where.sub_shop}>')
	})

</script>
</body>
</html>