<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title><{config_item('manager_title')}></title>
    <link href="/public/H-ui/css/H-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="/public/H-ui/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
    <link href="/public/H-ui/css/H-ui.login.css" rel="stylesheet" type="text/css" />
    <link href="/public/H-ui/hui-iconfont/iconfont.css" rel="stylesheet" type="text/css">
    <style>
        .left-title{display:block;height:56px;width:60px;border-radius:10px 0 0 10px;background-color:#01babc;float:right;text-align:center;line-height:56px;border:2px solid #c0c0c0;border-right:none;}
        .form-horizontal .form-label{padding-right:0;margin-top:0;}
        .pass-title{background-color:#fff;}
        .left-title img{display:inline-block;vertical-align: middle}
        .input-text.size-L{height:60px;;border-radius:0 10px 10px 0;border:2px solid #c0c0c0;}
        .left-title.primary{border:2px solid #01babc}
        .btn.size-L{width: 420px;height: 60px;border-radius: 10px;background-color:#01babc;margin-left: -60px;}
    </style>
</head>
<body>
<div class="header"></div>
<div class="loginWraper">

    <div class="center-div" >
        <img class="logo" src='/public/images/public/LOGO.png'/>
        <div id="loginform" class="loginBox">
            <form class="form form-horizontal" name="login" id="login" method="post" action="<{site_url('/manager/login/login_act')}>">
                <div class="row cl">
                    <label class="form-label col-3" ><span class="left-title primary"><img src="/public/images/public/job_no.png"/></span></label>
                    <div class="formControls col-8">
                        <input style="border:2px solid #01babc" name="username" type="text" placeholder="工号" class="input-text size-L" datatype="*" nullmsg="工号！">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-3"><span class="left-title pass-title"><img src="/public/images/public/password.png"/></span></label>
                    <div class="formControls col-8">
                        <input  name="password" type="password" placeholder="密码" class="input-text size-L" datatype="*" nullmsg="请输入密码！">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-3"><span class="left-title pass-title"><img src="/public/images/public/word.png"/></span></label>
                    <div class="formControls col-8">
                        <input name="command" type="text" placeholder="口令" class="input-text size-L" datatype="*" nullmsg="请输入口令！">
                    </div>
                </div>
                <div class="row">
                    <div class="formControls col-8 col-offset-3">
                        <input name="" type="submit" class="btn btn-success radius size-L" value="&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;">
                        <!--
                        <input name="" type="reset" class="btn btn-default radius size-L" value="&nbsp;取&nbsp;&nbsp;&nbsp;&nbsp;消&nbsp;">
                        -->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="footer"><{get_copyright()}></div>
<script type="text/javascript" src="/public/js/jquery.js"></script>
<script type="text/javascript" src="/public/js/validform.js"></script>
<script type="text/javascript" src="/public/js/layer/layer.js"></script>
<script type="text/javascript" >
    //验证表单
    $(function(){
        $.Tipmsg.r=null;
        $("#login").Validform({
            tiptype:function(msg){
                layer.msg(msg);
            },
            tipSweep:true,
            ajaxPost:true,
            callback:function(data){
                if(data.status=="y"){
                    window.location.href="<{$redirect_url}>";
                }
            }
        });
    })
</script>
</body>
</html>