<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="blank">
	<meta name="format-detection" content="telephone=no, email=no">
	<meta name="msapplication-tap-highlight" content="no">
	<link rel="stylesheet" type="text/css" href="/views/mobile/skin/css/style.css" />
	<title><{config_item('website_title')}></title>
</head>
<body>
<div class="wrap">
<form name="password_info" id="password_info" method="post" action="<{site_url("/<{get_web_type()}>/member/welcome/password_act")}>">
	<div class="bordercells">
		<!-- 原密码 -->
		<div class="inputTbox flexbox">
			<div class="infoChar" style="text-indent:1em;">
				原密码
			</div>
			<div class="inputTextbox flexbox">
				<input type="password" class="inputText" name="old_password" datatype="*" nullmsg="旧密码不能为空">
			</div>
		</div>
		<!--  新密码-->
		<div class="inputTbox flexbox">
			<div class="infoChar" style="text-indent:1em;">
				新密码
			</div>
			<div class="inputTextbox  flexbox">
				<input type="password" class="inputText" name="password" datatype="*" nullmsg="新密码不能为空">
			</div>
		</div>
		<!-- 性别 -->
		<div class="inputTbox flexbox">
			<div class="infoChar">
				重复密码
			</div>
			<div class="inputTextbox flexbox">
				<input type="password" class="inputText" name="repassword" datatype="*" recheck="password" nullmsg="请输入重复密码！" errormsg="两次密码不一样">
			</div>
		</div>
		
	</div>
	<div class="infosub">
		<input type="submit" value="确 认"  class="infosubbtn">
	</div>
</form>
</div>
<script type="text/javascript" src="/public/js/jquery.js"></script>
<script type="text/javascript" src="/views/mobile/skin/js/public.js"></script>
<script type="text/javascript" src="/public/js/validform.js"></script>
<script type="text/javascript" src="/public/js/layer/layer.js"></script>
<{include file="mobile/footer.html"}>
<script type="text/javascript" >
	//验证表单
	$(function(){
		$.Tipmsg.r=null;
		$("#password_info").Validform({
			tiptype:function(msg){
				layer.msg(msg);
			},
			tipSweep:true,
			ajaxPost:true,
			callback:function(data){
				if(data.status=="y"){
					layer.msg('修改成功');
					setTimeout(function(){
						window.location.href="<{site_url("/<{get_web_type()}>/member")}>";
					},1000);
				}
			}
		});
	})
</script>
</body>
</html>