<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><{config_item('manager_title')}></title>
    <link href="/public/H-ui/css/style.css" rel="stylesheet" type="text/css">
    <link href="/public/H-ui/hui-iconfont/iconfont.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/public/js/jquery.js"></script>
</head>
<body>
    <div class="top_header">
        <div class="top_left">
           <a href="<{site_url('/manager/welcome/main')}>" target="main">
               <img src="/public/images/public/LOGO.png">
           </a>
        </div>
        <div class="top_menu">
            <{if $admin_data.role_id==0 || stripos($admin_data.role, 'service/')!== false}><!--
              --><a class='active' href="<{site_url('/admin/welcome/menu/service')}>" target="left"><span class="span"><img src="/public/images/public/kefu.png"/><span>客户管理</span></span></a><!--
            --><{/if}><!--
            --><{if $admin_data.role_id==0 || stripos($admin_data.role, 'work/')!== false}><!--
              --><a href="<{site_url('/admin/welcome/menu/work')}>" target="left"><span class="span"><img src="/public/images/public/paigong.png"/><span>工单管理</span></span></a><!--
             --><{/if}><!--
             --><{if $admin_data.role_id==0 || stripos($admin_data.role, 'check/')!== false}><!--
             --><a href="<{site_url('/admin/welcome/menu/check')}>" target="left"><span class="span"><img src="/public/images/public/kaoqing.png"/><span>客服管理</span></span></a><!--
             --><{/if}><!--
            --><{if $admin_data.role_id==0 || stripos($admin_data.role, 'personnel/')!== false}><!--
             --><a href="<{site_url('/admin/welcome/menu/personnel')}>" target="left"><span class="span"><img style='margin-top:5px;' src="/public/images/public/rs.png"/><span>员工管理</span></span></a><!--
             --><{/if}><!--
            --><{if $admin_data.role_id==0 || stripos($admin_data.role, 'cat/')!== false}><!--
             --><a href="<{site_url('/admin/welcome/menu/cat')}>" target="left"><span class="span"><img style='margin-top:5px;' src="/public/images/public/VIP.png"/><span>项目管理</span></span></a><!--
             --><{/if}><!--
             --><{if $admin_data.role_id==0 || stripos($admin_data.role, 'jifen/')!== false}><!--
             --><a href="<{site_url('/admin/welcome/menu/consume')}>" target="left"><span class="span"><img style='margin-top:5px;' src="/public/images/public/VIP.png"/><span>消费管理</span></span></a><!--
             --><{/if}><!--
             --><{if $admin_data.role_id==0 || stripos($admin_data.role, 'comment/')!== false}><!--
             --><a href="<{site_url('/admin/welcome/menu/comment')}>" target="left"><span class="span"><img style='margin-top:5px;' src="/public/images/public/VIP.png"/><span>评价管理</span></span></a><!--
             --><{/if}><!--
            --><{if $admin_data.role_id==0 || stripos($admin_data.role, 'role/')!== false}><!--
             --><a href="<{site_url('/admin/welcome/menu/role')}>" target="left"><span class="span"><img style='margin-top:5px;' src="/public/images/public/VIP.png"/><span>权限管理</span></span></a><!--
             --><{/if}>
        </div>
        <div class="top_right"><span>欢迎<{$admin_data.username}> <a href="<{site_url('/admin/login/loginout')}>">退出</a></span></div>
        <div class="clear"></div>
    </div>
</body>
<script type="application/javascript">
    $('.top_menu a').click(function(){
        $('.top_menu a').removeClass('active');
        $(this).addClass('active');
    })
</script>
</html>
