<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><{config_item('website_title')}></title>
    <meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="/views/mobile/skin/css/swiper.min.css">
    <link rel="stylesheet" href="/views/mobile/skin/css/style.css">
</head>
<body>
<!-- banner start -->
<section class="banner">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <{show_adv(1,'<div class="swiper-slide">','</div>')}>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>
<!-- banner end -->
<section class="gridsitem">
    <!--顶部分类 start-->
    <{assign cat_list ym_list('goods_category',['where'=>['reid'=>0]], 8, 1, 'sortnum asc,id asc')}>
    <{foreach $cat_list as $val=>$key}>
    <a href="<{site_url("/<{get_web_type()}>/goods/goods_list?cat_id=<{$key.id}>")}>" class="gridsitem_a1">
        <div class="gridsitem_icon2">
            <img src="<{$key.image}>">
        </div>
        <p class="grids_label cat_color_<{$key.id}>"><{$key.name}></p>
    </a>
    <{/foreach}>
    <!--顶部分类 end-->
   
</section>
<!--gridsitem end  -->
<section class="content">
    <div class="midline">
    </div>

    <section class="sortwrap">
        <!--单个分类模板start-->
        <section class="sortbox">
            <!-- 分类标题 start-->
            <div class="borderbox" style="border-bottom:1px solid #ddd" >
                <div class="borderboxM">
                    为你推荐
                </div>
            </div>
            <!-- 分类标题 end -->
            <!-- 分类内容 start -->
           <{assign goods_list ym_goods_list(['cat_id'=>$key.id], 4, 1)}>
            <{foreach $goods_list as $v=>$k}>
            <div class="sortitembox">
                <a href="<{site_url("/<{get_web_type()}>/goods/product/<{$k.id}>")}> " style="border-bottom:1px solid #eee;" class="gridsitem_a2">
                    <div class="sortImgbox" style="float:left;width:33.3%;">
                        <img src="/public/images/AA.jpg">
                    </div>
					<div style='width:66.6%;float:left'>
                    <p class="pro_name" style='line-height:0.4rem;padding:0 0.3rem;font-size:0.27rem'>中广大夏 107㎡ 321万</p>
                    <p class="pro_price" style='line-height:0.4rem;padding:0 0.3rem;color:#d9d9d9;font-size:0.22rem;'>2室2厅1卫/100㎡/南</p>
					<p class="pro_price" style='line-height:0.4rem;padding:0 0.28rem;font-size:0.27rem;color:#DDA065'>320万 <span style="color:#d9d9d9;font-size:0.18rem">32000元/平</span></p>
					</div>
                </a>
            </div>
			<{/foreach}>
			
            <!-- 分类内容 end-->
        </section>
    </section>
</section>
<script type="text/javascript" src="/public/js/jquery.js"></script>
<script type="text/javascript" src="/public/js/artTemplate.js"></script>
<script type="text/javascript" src="/views/mobile/skin/js/swiper.min.js"></script>
<script type="text/javascript" src="/views/mobile/skin/js/public.js"></script>
<{include file="mobile/footer.html"}>
<script>
    //图片滑动
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        autoplay: 1000,
        spaceBetween: 0,
    });
</script>
</body>
</html>




