<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><{config_item('website_title')}></title>
    <link rel="stylesheet" type="text/css" href="/views/web/skin/css/style.css"/>
    <script type="text/javascript" src="/public/js/jquery.js"></script>
    <script type="text/javascript" src="/public/js/validform.js"></script>
    <script type="text/javascript" src="/public/js/layer/layer.js"></script>
</head>
<body>
<div class="wrap">
    <{include file="web/header.html"}>
    <!-- 内容 -->
    <div class="wrapbox">
        <div class="scrapnav">
            您的当前位置：<a href="<{site_url("/welcome")}>">首页</a>><a href="<{site_url("/member")}>">会员中心</a>
            ><a href="javascript:void(0)">找回密码</a>
        </div>
        <div class="contenwrap">
            <div class="publictitle">
                找回密码
            </div>
            <form name="find_password" id="find_password" method="post" action="<{site_url('/api/user/find_password/find_password_act')}>">
                <div class="exchangebox">
                    <div class="loginboxleft_box clear">
                        <div class="loginleft">
                            手机号：
                        </div>
                        <div class="loginright">
                            <input type="text" class="inputText" name="username" placeholder="请输入手机号码" datatype="m" nullmsg="请输入手机号码" errormsg="手机格式不正确" ajaxurl="<{site_url('/api/user/find_password/repeat_username')}>">
                        </div>
                    </div>
                    <div class="loginboxleft_box clear">
                        <div class="loginleft">
                            验 证 码：
                        </div>
                        <div class="loginright">
                            <input type="text" class="verifyinputText" name="code" placeholder="验证码" class="iphoneinput" datatype="n" nullmsg="请输入验证码！" errormsg="验证码只能是数字">
                            <input type="button" class="verifyText" value="发送验证码" name="get_code">
                        </div>
                    </div>
                    <div class="loginboxleft_box clear">
                        <div class="loginleft">
                            新 密 码：
                        </div>
                        <div class="loginright">
                            <input type="password" class="inputText" name="password" class="infostyle" placeholder="密码" datatype="*" nullmsg="请输入密码">
                        </div>
                    </div>
                    <div class="loginboxleft_box clear">
                        <div class="loginleft">
                            确认密码：
                        </div>
                        <div class="loginright">
                            <input type="password" class="inputText" name="repassword" class="infostyle" placeholder="重复密码" datatype="*" recheck="password" nullmsg="请输入重复密码！" errormsg="两次密码不一样">
                        </div>
                    </div>
                    <input type="submit" class="passwordbtn" value="确认">
                </div>
            </form>
        </div>

    </div>
    <{include file="web/footer.html"}>
</div>
<script type="text/javascript" src="/views/web/conf_js/code.js"></script>
<script type="text/javascript" >
    //验证表单
    $(function(){
        $.Tipmsg.r=null;
        $("#find_password").Validform({
            tiptype:function(msg){
                layer.msg(msg);
            },
            tipSweep:true,
            ajaxPost:true,
            callback:function(data){
                if(data.status=="y"){
                    layer.msg('重置成功');
                    setTimeout(function(){
                        window.location.href="<{$redirect_url}>";
                    },1000);
                }
            }
        });
    })
</script>
</body>
</html>