<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
    <title><{config_item('manager_title')}></title>
    <link href="/public/H-ui/css/H-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="/public/H-ui/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
    <link href="/public/H-ui/hui-iconfont/iconfont.css" rel="stylesheet" type="text/css">
</head>
<style>.Nodisplay{display:none}input[type=text]{-webkit-appearance: textarea;padding:5px;}.hidden-tr{display:none;}</style>
<body>
<div class="pd-20">
	<form action="<{site_url('/manager/check/check/save')}>" method="post" class="form form-horizontal" id="add">
		<div class="row cl">
            <div>
                <label class="form-label col-2">员工姓名：</label>
                <div class="formControls col-2">
                    <span><{$info.name}></span>
                </div>
            </div>
            <div>
                <label class="form-label col-2">员工工号：</label>
                <div class="formControls col-2">
                    <span><{$info.position_no}></span>
                </div>
            </div>
            <div >
                <label class="form-label col-2">职&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;务：</label>
                <div class="formControls col-2">
                    <span><{$info.job}></span>
                </div>
            </div>
		</div>
        <div class="row cl">
            <div>
                <label class="form-label col-2">工资星级：</label>
                <div class="formControls col-2">
                    <span><{if $info.level_id == 1}>一星级<{elseif $info.level_id == 2}>二星级<{elseif $info.level_id == 3}>三星级<{/if}></span>
                </div>
            </div>
            <div>
                <label class="form-label col-2">员工类别：</label>
                <div class="formControls col-2">
                    <span><{if $info.cat_id == 1}>一线员工<{elseif $info.cat_id == 2}>二线员工<{elseif $info.cat_id == 3}>三线员工<{/if}></span>
                </div>
            </div>
            <div>
                <label class="form-label col-2">是否考勤：</label>
                <div class="formControls col-2">
                    <span><{if $info.is_check == 0}>是<{else}>否<{/if}></span>
                </div>
            </div>
        </div>
        <div class="row cl" style="border-bottom:2px solid #eee;padding-bottom:10px;margin-top:20px;margin-bottom:10px;">
            <label class="form-label col-2" style="font-weight:bold;font-size:16px;text-align:left;">考勤</label>
        </div>
        <table class="table table-border table-bordered table-bg table-hover table-sort" type="margin-top:30px;-">
            <thead>
            <tr class="text-c">
                <th>日期</th>
                <th>日</th>
                <th>时段</th>
                <th>考勤</th>
                <th>加班小时数</th>
                <th>其他（+）</th>
                <th>违纪（-）</th>
                <!--<th>操作</th>-->
           </tr>
           </thead>
           <tbody>
           <{foreach $list as $v}>
           <tr class="text-c first-clone">
               <input type="hidden" name="position_id[]" value="<{$v.morning.position_id}>">
               <td rowspan="2"><input class="date" type="text" name="date[]" value="<{$v.morning.date}>" datatype="*" nullmsg="填写日期（例如：2018-04）"/></td>
               <td rowspan="2"><input type="text" name="day[]" value="<{$v.morning.day}>" datatype="*" nullmsg="请输入具体号数" /></td>
               <td><input readonly="readonly" type="text" name="interval_time[]" value="<{$v.morning.interval_time}>" /></td>
               <td>
                   <span class="select-box" style="width:100px">
                       <select name="is_work[]" class="select">
                           <option value="0" <{if $v.morning.is_work == 0}>selected<{/if}>>休息</option>
                           <option value="1" <{if $v.morning.is_work == 1}>selected<{/if}>>工作</option>
                           <option value="2" <{if $v.morning.is_work == 2}>selected<{/if}>>请假</option>
                           <option value="3" <{if $v.morning.is_work == 3}>selected<{/if}>>缺勤</option>
                       </select>
                   </span>
               </td>
               <td><input type="text" name="over_time[]" value="<{$v.morning.over_time}>"  /></td>
               <td><input type="text" name="add_money[]" value="<{$v.morning.add_money}>"/></td>
               <td><input type="text" name="reduce_money[]" value="<{$v.morning.reduce_money}>"/></td>
               <input type="hidden" name="id[]" value="<{$v.morning.id}>">
               <!--<td><span class="btn add_more btn-success">添加</span></td>-->
           </tr>
           <tr class="text-c first-clone">
               <input type="hidden" name="position_id[]" value="<{$v.after.position_id}>">
               <input class="date" type="hidden" name="date[]" value="<{$v.after.date}>" datatype="*" nullmsg="填写日期（例如：2018-04）"/>
               <input type="hidden" name="day[]" value="<{$v.after.day}>" datatype="*" nullmsg="请输入具体号数" />
               <td><input readonly="readonly" type="text" name="interval_time[]" value="<{$v.after.interval_time}>" datatype="*" nullmsg="请输入具体号数" /></td>
               <td>
                   <span class="select-box" style="width:100px">
                       <select name="is_work[]" class="select">
                           <option value="0" <{if $v.after.is_work == 0}>selected<{/if}>>休息</option>
                           <option value="1" <{if $v.after.is_work == 1}>selected<{/if}>>工作</option>
                           <option value="2" <{if $v.after.is_work == 2}>selected<{/if}>>请假</option>
                           <option value="3" <{if $v.after.is_work == 3}>selected<{/if}>>缺勤</option>
                       </select>
                   </span>
               </td>
               <td><input type="text" name="over_time[]" value="<{$v.after.over_time}>"  /></td>
               <td><input type="text" name="add_money[]" value="<{$v.after.add_money}>"/></td>
               <td><input type="text" name="reduce_money[]" value="<{$v.after.reduce_money}>"/></td>
               <input type="hidden" name="id[]" value="<{$v.after.id}>">
               <!--<td><span class="btn add_more btn-success">添加</span></td>-->
           </tr>

           <{/foreach}>
           </tbody>
       </table>
       <div class="row cl">
           <div class="col-10 col-offset-2">
               <button onClick="$('#add').submit();" class="btn btn-primary radius" type="submit">部分考勤保存</button>
           </div>
       </div>
   </form>
</div>
<script type="text/javascript" src="/public/js/jquery.js"></script>
<script type="text/javascript" src="/public/js/validform.js"></script>
<script type="text/javascript" src="/public/js/layer/layer.js"></script>
<script type="text/javascript" src="/public/js/laydate/laydate.js"></script>
<script type="text/javascript" src="/public/js/form.js"></script>
<script type="text/javascript" src="/public/H-ui/js/H-ui.js"></script>
<script type="text/javascript" src="/public/H-ui/js/H-ui.admin.js"></script>

<script type="text/javascript">
   $(function(){

       //验证表单
       $.Tipmsg.r=null;
       $("#add").Validform({
           tiptype:function(msg){
               layer.msg(msg);
           },
           tipSweep:true,
           ajaxPost:true,
           callback:function(data){
               if(data.status=="y"){
                   layer_close();
                  // window.history.go(-1);
               }
           }
       });
       //表单回填
       var formObj = new Form();
       //formObj.init(<{ch_json_encode($item)}>);
   })

   //单击添加
   $('.add_more').click(function(){
       var text = $(".first-clone").clone();
       text.removeClass('first-clone');
       text.find('.btn').html('删除');
       text.find('.btn').removeClass('btn-success').attr('onclick','del_tr(this)');
       text.appendTo($('.first-clone').parent());
   })

   //单击删除
   function del_tr(thi){
       $(thi).parent().parent().remove();
   }

   //
    $('.date').change(function(){
       var text = $(this).val();
       $('.date').val(text);
    })


</script>
</body>
</html>